{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>NMGFam</title>
        <link rel="preconnect" href="https://fonts.gstatic.gmgc/com/" crossorigin>
        <meta name="msapplication-TileColor" content="#206bc4" />
        <meta name="theme-color" content="#206bc4" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="robots" content="noindex,nofollow,noarchive" />
        <link rel="icon" href="./favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

        <!-- CSS files -->
        <link href="https://fonts.googleapis.com/css2?family=Ranga:wght@700&family=Roboto+Condensed&display=swap" 
              rel="stylesheet">
        <script src="https://kit.fontawesome.com/4072499970.js" crossorigin="anonymous"></script>
        <link href="{% static 'geco/assets/tabler/css/tabler.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'geco/assets/tabler/libs/selectize/dist/css/selectize.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" 
        href="{% static "geco/assets/tabler/css/tabler-vendors.min.css" %}"/>
        <link href="{% static 'geco/css/theme.css' %}" rel="stylesheet" />

        {% block styles %}
        {% endblock %}

        <style type="text/css" media="screen">
            body { display: none; }
        </style>

    </head>
    <body>
        <body class="antialiased">
        <div class="page">
                <div class="content p-0">
                        <div class="container-fluid p-0" id="NovelFams">
        {% include 'geco/navbar.html' %}
                                {% block content %}
                                {% endblock %}
                        </div>
                        {% include 'geco/footer.html' %}
                </div>
        </div>
        <!-- Libs JS -->
        <script src="{% static "geco/assets/jquery/jquery.min.js" %}"></script>
        <script src="{% static 'geco/assets/tabler/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'geco/assets/tabler/js/tabler.min.js' %}"></script>
        <script src="{% static 'geco/assets/tabler/libs/selectize/dist/js/standalone/selectize.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

        <script src="{% static "geco/assets/vue/vue.min.js" %}"></script>
        <script src = "https://d3js.org/d3.v6.min.js"></script>
        <script src="{% static 'geco/assets/tabler/libs/apexcharts/dist/apexcharts.min.js' %}"></script>

        {% block scripts %}
        {% endblock %}
        <script charset="utf-8">
            window.onload = () => {
                document.body.style.display = "block";
            }
        </script>
    </body>
</html>
