<div class="mt-4 card">
       <div class="card-header"> <!--bg-white-->
              <h2 class="my-1">
                  [[ tdata.name ]]</h2>
                <ul class="nav nav-pills justify-content-center mx-4"
                    id="pills-tab" role="tablist">

                  <li class="nav-item mx-2">
                    <a class="nav-link active btn-sm" 
                       id="pills-info-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-info'" 
                       role="tab" 
                       aria-controls="pills-info"
                       aria-selected="true">Info</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-domains-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-domains'"
                        role="tab" 
                        aria-controls="pills-domains"
                        aria-selected="false">Domains</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-biomes-tab" 
                        @click="donutBiome('f'+tid+'-biomesViz', tdata.biomes)"
                       data-toggle="pill"
                        :href="'#f' + tid + '-biomes'"
                        @click="toggleFam('f' + tid + '-tab-content')"
                        role="tab" 
                        aria-controls="pills-biomes"
                        aria-selected="false">Biomes</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" id="pills-geco-tab" data-toggle="pill"
                        :href="'#f' + tid + '-geco'" role="tab" aria-controls="pills-geco"
                        aria-selected="false"
                        @click="toggleFam('f' + tid + '-tab-content')"
                        @click="toggleGeCo('#f'+tid+'-gecoViz', tid)"
                        >GeCo</a>
                  </li>
                  <li class="nav-item mx-3 position-absolute"
                      style="right:20px; top:10px;">
                        <a class="btn btn-primary btn-sm fam-toggle" 
                           data-toggle="collapse" 
                           :href="'#f' + tid + '-tab-content'" 
                           aria-expanded="true" 
                           aria-controls="tab-content"
                           ><i class="fas fa-angle-down"></i></a>
                  </li>

                </ul>
           </div>
           <div class="card-body p-2 rounded bg-light">
        <div class="tab-content collapse" :id="'f' + tid + '-tab-content'">

          <div class="tab-pane fade show active" :id="'f' + tid + '-info'" role="tabpanel"
              aria-labelledby="pills-info-tab">
           <div class="card m-0">
               <div class="card-body rounded">
                   INFO
               </div>
           </div>
          </div>

          <div class="tab-pane fade" 
               :id="'f' + tid + '-domains'" 
               role="tabpanel"
               aria-labelledby="pills-domains-tab">
           <div class="card m-0">
               <div class="card-body rounded">

                   <div class="card p-0 members-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Members (unigene)
                                       <!--<a class=""-->
                                          <!--:href="'#f' + tid + '-members'" -->
                                          <!--data-toggle="collapse"-->
                                          <!--aria-expanded="false"-->
                                          <!--aria-controls="members">-->
                                          <!--Members (unigene)</a>-->
                                       </th>
                                       <th>Number of helices</th>
                                       <th>Topology</th>
                                       <th>Gram + signal peptide prediction</th>
                                       <th>Gram - signal peptide prediction</th>
                                   </tr>
                               </thead>
                               <!--<tbody class="collapse"-->
                                      <!--:id="'f' + tid + '-members'">-->
                               <tbody>
                                   <tr v-for="m in tdata.members">
                                       <th class="p-1">
                                           [[ m ]]
                                       </th>
                                       <th class="p-1">
                                           [[
                                           tdata.domains[m]['num_h']
                                           ]]
                                       </th>
                                       <th class="p-1">
                                           [[
                                           tdata.domains[m]['topo_h']
                                           ]]
                                       </th>
                                       <th class="p-1">
                                           [[
                                           tdata.domains[m]['signalp_p']
                                           ]]
                                       </th>
                                       <th class="p-1">
                                           [[
                                           tdata.domains[m]['signalp_n']
                                           ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>

               </div>
           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-biomes'" role="tabpanel"
              aria-labelledby="pills-biomes-tab">
           <div class="card">
               <div class="card-body rounded">
                    <div class="bg-white rounded" 
                         :id="'f' + tid + '-biomesViz'">
                    </div>
               </div>
           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-geco'" role="tabpanel"
              aria-labelledby="pills-geco-tab">
           <div class="card">
               <div class="card-body overflow-auto rounded" 
                    :id="'f' + tid + '-gecoViz'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
          </div>

        </div>
   </div>
</div>
