<div class="mt-4 card">
       <div class="card-header bg-white">
              <h2 class="my-1">
                  <i class="fab fa-battle-net"></i>
                  [[ tdata.name ]]</h1>
                <ul class="nav nav-pills justify-content-center mx-4" id="pills-tab" role="tablist">
                  <li class="nav-item mx-2">
                    <a class="nav-link active" id="pills-info-tab" data-toggle="pill"
                        :href="'#f' + tid + '-info'" role="tab" aria-controls="pills-info"
                        aria-selected="true">Info</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" id="pills-geco-tab" data-toggle="pill"
                        :href="'#f' + tid + '-geco'" role="tab" aria-controls="pills-geco"
                        aria-selected="false"
                        @click="toggleGeCo('#f'+tid+'-gecoViz', tid)"
                        >GeCo</a>
                  </li>
                  <li class="nav-item mx-3 position-absolute"
                      style="right:20px; top:20px;">
                        <a class="btn btn-secondary btn-sm fam-toggle" data-toggle="collapse" 
                           :href="'#f' + tid + '-tab-content'" aria-expanded="false" 
                           aria-controls="collapseExample"
                           ><i class="fas fa-angle-down"></i></a>
                  </li>

                </ul>
           </div>
           <div class="card-body bg-light p-2 rounded">

        <div class="tab-content collapse" :id="'f' + tid + '-tab-content'">
          <div class="tab-pane fade show active" :id="'f' + tid + '-info'" role="tabpanel"
              aria-labelledby="pills-info-tab">
           <div class="card m-0">
               <div class="card-body">
                   [[ tdata.desc  ]]
               </div>
           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-geco'" role="tabpanel"
              aria-labelledby="pills-geco-tab">
           <div class="card">
               <div class="card-body overflow-auto" 
                    :id="'f' + tid + '-gecoViz'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
          </div>
        </div>

   </div>
</div>
