<div class="mt-4 card">
       <div class="card-header">
              <h2 class="mx-3 my-1">
                  [[ tdata.name ]]</h2>
                <ul class="nav nav-pills justify-content-center mx-4"
                    id="pills-tab" role="tablist">

                  <li class="nav-item mx-2">
                    <a class="nav-link active btn-sm" 
                       id="pills-info-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-info'" 
                       role="tab" 
                       aria-controls="pills-info"
                       aria-selected="true">Info</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-domains-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-domains'"
                        role="tab" 
                        aria-controls="pills-domains"
                        aria-selected="false">Domains</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-stats-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-stats'"
                        role="tab" 
                        aria-controls="pills-stats"
                        aria-selected="false">Stats</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-mappings-tab" 
                        @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-mappings'"
                        role="tab" 
                        aria-controls="pills-mappings"
                        aria-selected="false">MAG mapping</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-biomes-tab" 
                       data-toggle="pill"
                       :href="'#f' + tid + '-biomes'"
                        @click="toggleFam('f' + tid + '-tab-content')"
                        role="tab" 
                        aria-controls="pills-biomes"
                        aria-selected="false">Biomes</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-functionp-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-functionp'"
                        role="tab" 
                        aria-controls="pills-functionp"
                        aria-selected="false">Functional assignation</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" 
                       id="pills-taxp-tab" 
                       @click="toggleFam('f' + tid + '-tab-content')"
                       data-toggle="pill"
                       :href="'#f' + tid + '-taxp'"
                        role="tab" 
                        aria-controls="pills-taxp"
                        aria-selected="false">Taxonomic assignation</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link btn-sm" id="pills-geco-tab" data-toggle="pill"
                        :href="'#f' + tid + '-geco'" role="tab" aria-controls="pills-geco"
                        aria-selected="false"
                        @click="toggleFam('f' + tid + '-tab-content');
                                toggleGeCo('#f'+tid+'-gmgcGeCo', tid, 'gmgc');
                                toggleGeCo('#f'+tid+'-humanGutGeco', tid, 'human-gut');
                                toggleGeCo('#f'+tid+'-taraGeco', tid, 'tara');
                                toggleGeCo('#f'+tid+'-earthGeco', tid, 'earth')"
                        >GeCoViz</a>
                  </li>
                  <li class="nav-item mx-3 position-absolute"
                      style="right:20px; top:10px;">
                        <a class="btn btn-primary btn-sm fam-toggle" 
                           data-toggle="collapse" 
                           :href="'#f' + tid + '-tab-content'" 
                           aria-expanded="true" 
                           aria-controls="tab-content"
                           ><i class="fas fa-angle-down"></i></a>
                  </li>

                </ul>
           </div>
           <div class="card-body p-2 rounded bg-light">
        <div class="tab-content collapse" :id="'f' + tid + '-tab-content'">

          <div class="tab-pane fade show active" :id="'f' + tid + '-info'" role="tabpanel"
              aria-labelledby="pills-info-tab">
           <div class="card m-0">
               <div class="card-body rounded">

                   <div class="card p-0 mx-2 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Source</th>
                                       <th>Family type</th>
                                       <th>Closest homologue</th>
                                       <th>Longest gene family representative</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th class="p-1">
                                           [[ tdata.source ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ftype ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.hom ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.flength ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>

               </div>
           </div>
          </div>

          <div class="tab-pane fade" 
               :id="'f' + tid + '-domains'" 
               role="tabpanel"
               aria-labelledby="pills-domains-tab">
                   <div class="card">
                       <div class="card-header text-primary font-weight-bold">
                           Domains
                       </div>
               <div class="card-body rounded">
                   <div class="card p-0 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Members (unigene)</th>
                                       <th>Gene length</th>
                                       <th class="text-left pl-4">Topology</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in tdata.members">
                                       <th class="p-1">
                                           [[ m ]]
                                       </th>
                                       <th class="p-1">
                                           [[
                                           tdata.domains | getLen(m)
                                           ]]
                                       </th>
                                       <th class="domains p-1 pl-3 text-left" :id="'d' + m">
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>
                   </div>

                   <div class="card">
                       <div class="card-header text-primary font-weight-bold">
                           Antimicrobial prediction
                       </div>
                   <div class="card-body rounded">
                   <div class="card p-0 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Antibacterial</th>
                                       <th>Antiviral</th>
                                       <th>Antifungal</th>
                                       <th>Antimicrobial probability</th>
                                       <th>Antimicrobial family</th>
                                       <th>Hemolitic probability</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th class="p-1">
                                           [[ tdata.ampred.ab ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ampred.av ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ampred.af ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ampred.pam ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ampred.ampf ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.ampred.phem ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>
                   </div>

          </div>

          <div class="tab-pane fade" :id="'f' + tid + '-stats'" role="tabpanel"
              aria-labelledby="pills-stats-tab">
           <div class="card">
               <div class="card-body rounded">

                   <div class="card p-0 mx-2 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Members</th>
                                       <th>Conserved domain length</th>
                                       <th>Aminoacids in members</th>
                                       <th>Smallest sequence</th>
                                       <th>Largest sequence</th>
                                       <th>Average sequence</th>
                                       <th>Alignment length</th>
                                       <th>Average identity</th>
                                       <th>Most related pair identity</th>
                                       <th>Least related pair identity</th>
                                       <th>Most distant member identity</th>
                                       <th>dN/dS</th>
                                       <th>p-val RNA code</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th class="p-1">
                                           [[ tdata.align.esize | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.cdl | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.naa | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.sm | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.lg | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.avl | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.al | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.avi | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.mrp | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.mup | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.align.mds | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.dnds | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.p_exp | toFixed ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>

               </div>
           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-mappings'" role="tabpanel"
              aria-labelledby="pills-mappings-tab">
            <div class="card">
               <div class="card-header">
                        <ul class="nav nav-pills justify-content-center mx-4"
                            id="pills-tab" role="tablist">

                          <li class="nav-item mx-2">
                            <a class="nav-link active btn-sm" 
                               id="pills-mags-donut-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-magsDonut-tab'" 
                               role="tab" 
                               aria-controls="pills-magsDonut-tab"
                               aria-selected="true">
                                Origin</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-mags-samples-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-magsSamples-tab'" 
                               role="tab" 
                               aria-controls="pills-mags-samples"
                               aria-selected="false">
                               Samples</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-mags-function-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-magsFunction-tab'"
                                role="tab" 
                                aria-controls="pills-magsFunction-tab"
                                aria-selected="false">
                                Functional assignation</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-mags-tax-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-magsTax-tab'"
                                role="tab" 
                                aria-controls="pills-magsTax-tab"
                                aria-selected="false">
                                Taxonomic assignation</a>
                          </li>
                        </ul>
                   </div>
           <div class="card-body p-2 rounded bg-light">
        <div class="tab-content">

          <div class="tab-pane fade show active" :id="'f' + tid +
                      '-magsDonut-tab'" role="tabpanel"
              aria-labelledby="pills-mags-donut-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   MAG mapping
               </div>
               <div class="card-body rounded">
                    <div class="bg-white rounded col-md-6 mx-auto" 
                         :id="'f' + tid + '-magsDonut'">
                    </div>
               </div>
           </div>
           </div>

          <div class="tab-pane fade" :id="'f' + tid +
                      '-magsSamples-tab'" role="tabpanel"
              aria-labelledby="pills-mags-samples-tab">
           <div class="card">
               <div class="card-body">
                   <ul>
                       <li v-for="h in tdata.mags.almeida">[[h]]</li>
                       <li v-for="h in tdata.mags.paoli">[[h]]</li>
                       <li v-for="h in tdata.mags.delmont">[[h]]</li>
                       <li v-for="h in tdata.mags.naychaf">[[h]]</li>
                   </ul>
               </div>
           </div>
           <div class="card col-md-12 p-0">
                   <div class="card-header text-primary font-weight-bold">
                        MAG samples
                   </div>
                <div class="card-body">
                   <div class="card p-0 mx-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Human gut</th>
                                       <th>Marine</th>
                                       <th>TARA Eukaryote</th>
                                       <th>Earth</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr 
                                    v-for="i in Math.max(
                                            tdata.mags.almeida.length,
                                            tdata.mags.paoli.length,
                                            tdata.mags.delmon.length,
                                            tdata.mags.naychaf.length)">
                                       <th class="p-1">
                                           [[ tdata.mags.almeida[i] ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.mags.paoli[i] ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.mags.delmont[i] ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.mags.naychaf[i] ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>
                </div>

           </div>

          <div class="tab-pane fade" :id="'f' + tid +
                      '-magsFunction-tab'" role="tabpanel"
              aria-labelledby="pills-mags-function-tab">
           <div v-for="origin in tdata.mags_annot">
               <div class="card col-md-12 p-0"
                    v-if="origin.function != {}">
                   <div class="card-header text-primary font-weight-bold">
                        [[ origin.origin ]]
                   </div>
                <div class="card-body">
                   <div class="card p-0 mx-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>KEGG</th>
                                       <th>Description</th>
                                       <th>vcons</th>
                                       <th>meanhcons</th>
                                       <th>maxhcons</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in origin.function">
                                       <th class="p-1">
                                           [[ m | getKeyByValue(origin.function) ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.description ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.vcons | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.maxhcons | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.meanhcons | toFixed ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>
                </div>
               </div>

           </div>

           <div class="tab-pane fade" :id="'f' + tid +
                      '-magsTax-tab'" role="tabpanel"
              aria-labelledby="pills-mags-tax-tab">
           <div v-for="origin in tdata.mags_annot">
               <div class="card col-md-12 p-0"
                    v-if="origin.tax != {}">
                   <div class="card-header text-primary font-weight-bold">
                        [[ origin.origin ]]
                   </div>
                <div class="card-body">
                   <div class="card p-0 mx-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Tax level</th>
                                       <th>Name</th>
                                       <th>Number</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in origin.tax.ta_gtdb">
                                       <th class="p-1">
                                           [[ m.level ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.name ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.number ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>
                </div>
               </div>

           </div>
       </div>
       </div>
       </div>
       </div>


          <div class="tab-pane fade" :id="'f' + tid + '-biomes'" role="tabpanel"
              aria-labelledby="pills-biomes-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   Biome mapping
               </div>
               <div class="card-body rounded">
                    <div class="bg-white rounded col-md-6 mx-auto" 
                         :id="'f' + tid + '-biomesViz'">
                    </div>
               </div>
           </div>
          </div>

          <div class="tab-pane fade" :id="'f' + tid + '-functionp'" role="tabpanel"
              aria-labelledby="pills-functionp-tab">

               <div class="card-body rounded row">
                   <div class="card col-md-12 p-0">
                       <div class="card-header text-primary font-weight-bold">
                           KEGG assignation
                       </div>
                   <div class="card p-0 m-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>kegg
                                       </th>
                                       <th>vertical conservation</th>
                                       <th>Max horizontal conservation</th>
                                       <th>Max immediate neighbor horizontal
                                           conservation</th>
                                       <th>Mean surrounding KEGGs</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in tdata.keggp">
                                       <th class="p-1">
                                           [[ m | getKeyByValue(tdata.keggp) ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.vc | tofixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.hc | tofixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.hci | tofixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.hcm | toFixed ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>

                   <div class="card col-md-12 p-0">
                       <div class="card-header text-primary font-weight-bold">
                           eggNOG assignation
                       </div>
                   <div class="text-muted font-weight-bold mt-4 ml-4 mb-2">STRING scores
                       on COG set</div>
                   <div class="card p-0 mx-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>STRING score
                                       </th>
                                       <th>Number of comparisons</th>
                                       <th>Number of cogs assigned</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr>
                                       <th class="p-1">
                                           [[ tdata.sstr.sstr_v | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.sstr.ncstr ]]
                                       </th>
                                       <th class="p-1">
                                           [[ tdata.sstr.p_cogp_n ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   <div class="text-muted font-weight-bold mt-4 ml-4 mb-2">eggNOG
                       assignation based on neighborhood</div>
                   <div class="card p-0 mx-4 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>eggNOG
                                       </th>
                                       <th>Vertical conservation</th>
                                       <th>Taxonomic level</th>
                                       <th>Description</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in tdata.cogp">
                                       <th class="p-1">
                                           [[ m | getKeyByValue(tdata.cogp) ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.vcc | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.taxl_c ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.desc_c ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
                   </div>

           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-taxp'" role="tabpanel"
              aria-labelledby="pills-taxp-tab">
           <div class="card">
               <div class="card-body rounded">
                   
                   <div class="card p-0 mx-2 fam-table">
                       <div class="table-responsive">
                           <table class="table table-vcenter card-table
                               text-center mb-0">
                               <thead>
                                   <tr>
                                       <th>Taxomic id</th>
                                       <th>Taxomic name</th>
                                       <th>Number of genes annotated</th>
                                       <th>Mean identity</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   <tr v-for="m in tdata.taxp">
                                       <th class="p-1">
                                           [[ m.p_taxp_in ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.p_taxp_name ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.p_taxp_in_c | toFixed ]]
                                       </th>
                                       <th class="p-1">
                                           [[ m.p_taxp_id | toFixed ]]
                                       </th>
                                   </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>

               </div>
           </div>
          </div>
          <div class="tab-pane fade" :id="'f' + tid + '-geco'" role="tabpanel"
              aria-labelledby="pills-geco-tab">

            <div class="card">
               <div class="card-header">
                        <ul class="nav nav-pills justify-content-center mx-4"
                            id="pills-tab" role="tablist">

                          <li class="nav-item mx-2">
                            <a class="nav-link active btn-sm" 
                               id="pills-geco-gmgc-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-geco-gmgc'" 
                               role="tab" 
                               aria-controls="pills-geco-gmgc"
                               aria-selected="true"
                               @click="refreshGeCo('#f'+tid+'-gmgcGeCo');">
                                GMGC</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-geco-humangut-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-geco-humangut'" 
                               role="tab" 
                               aria-controls="pills-geco-humangut"
                               aria-selected="false"
                               @click="refreshGeCo('#f'+tid+'-humangutGeCo');">
                               Human gut MAGs</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-geco-ocean-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-geco-ocean'"
                                role="tab" 
                                aria-controls="pills-geco-ocean"
                                aria-selected="false"
                               @click="refreshGeCo('#f'+tid+'-taraGeCo');">
                                Ocean MAGs</a>
                          </li>
                          <li class="nav-item mx-2">
                            <a class="nav-link btn-sm" 
                               id="pills-geco-earth-tab" 
                               data-toggle="pill"
                               :href="'#f' + tid + '-geco-earth'"
                                role="tab" 
                                aria-controls="pills-geco-earth"
                                aria-selected="false"
                               @click="refreshGeCo('#f'+tid+'-earthGeCo');">
                                Earth MAGs</a>
                          </li>
                        </ul>
                   </div>
           <div class="card-body p-2 rounded bg-light">
        <div class="tab-content">

          <div class="tab-pane fade show active" :id="'f' + tid +
                      '-geco-gmgc'" role="tabpanel"
              aria-labelledby="pills-gmgc-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   Genomic context from GMGC database
               </div>
               <div class="card-body overflow-auto rounded" 
                    :id="'f' + tid + '-gmgcGeCo'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
           </div>

          <div class="tab-pane fade show" :id="'f' + tid +
                      '-geco-humangut'" role="tabpanel"
              aria-labelledby="pills-humangut-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   Genomic context from human gut MAGs
               </div>
               <div class="card-body overflow-auto rounded" 
                    :id="'f' + tid + '-humanGutGeco'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
           </div>

          <div class="tab-pane fade" :id="'f' + tid + '-geco-ocean'" role="tabpanel"
              aria-labelledby="pills-humangut-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   Genomic context from ocean MAGs
               </div>
               <div class="card-body overflow-auto rounded" 
                    :id="'f' + tid + '-taraGeco'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
           </div>

          <div class="tab-pane fade" :id="'f' + tid + '-geco-earth'" role="tabpanel"
              aria-labelledby="pills-humangut-tab">
           <div class="card">
               <div class="card-header text-primary font-weight-bold">
                   Genomic context from earth MAGs
               </div>
               <div class="card-body overflow-auto rounded" 
                    :id="'f' + tid + '-earthGeco'"
                    style="height:1600px;resize:vertical;">
                   {% include 'geco/geco.html' %}
               </div>
           </div>
           </div>

           </div>
           </div>
           </div>
           </div>

        </div>
   </div>
</div>
