{% extends 'geco/base.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/geco.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/scrollbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/forms.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/params.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/popper.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/select_box.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/checkbox.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/loader.css' %}"/>


{% include 'geco/searchbar.html'%}

<div v-for="(tdata, tid, index) in show_items">               

    {% include 'geco/card.html' %}
</div>

{% endblock %}
{% block scripts %}
{% load static %}
    <script src="{% static "geco/js/geco.js" %}"></script>
    <script src="{% static "geco/js/gmgc.js" %}"></script>
    <script charset="utf-8">
        $('.collapse').collapse()
    </script>
{% endblock %}




                           {% comment %}<div class="container mt-4 mb-3{% endcomment %}
                               {% comment %}justify-content-center border border-dark{% endcomment %}
                               {% comment %}rounded p-3">{% endcomment %}
                               {% comment %}<label class="form-label text-center">Scale</label>{% endcomment %}
                           {% comment %}<div class="d-flex flex-row justify-content-center">{% endcomment %}

                               {% comment %}<div class="mx-2">{% endcomment %}
                                    {% comment %}<label class="form-label">Genes upstream</label>{% endcomment %}
                               {% comment %}<select name="upstream" id="upstream"{% endcomment %}
                                   {% comment %}class="form-select">{% endcomment %}
                                   {% comment %}<option value="2">2</option>{% endcomment %}
                                   {% comment %}<option value="5">5</option>{% endcomment %}
                                   {% comment %}<option value="10" selected>10</option>{% endcomment %}
                                   {% comment %}<option value="15">15</option>{% endcomment %}
                                   {% comment %}<option value="20">20</option>{% endcomment %}
                               {% comment %}</select>{% endcomment %}
                               {% comment %}</div>{% endcomment %}



                               {% comment %}<div class="mx-2">{% endcomment %}
                                    {% comment %}<label class="form-label">Genes downstream</label>{% endcomment %}
                               {% comment %}<select name="upstream" id="downstream"{% endcomment %}
                                   {% comment %}class="form-select">{% endcomment %}
                                   {% comment %}<option value="2">2</option>{% endcomment %}
                                   {% comment %}<option value="5">5</option>{% endcomment %}
                                   {% comment %}<option value="10" selected>10</option>{% endcomment %}
                                   {% comment %}<option value="15">15</option>{% endcomment %}
                                   {% comment %}<option value="20">20</option>{% endcomment %}
                               {% comment %}</select>{% endcomment %}
                               {% comment %}</div>{% endcomment %}

                               {% comment %}<div class="mx-2">{% endcomment %}
                                    {% comment %}<label class="form-label">Gene distance</label>{% endcomment %}
                               {% comment %}<select name="downstream" id="downstream"{% endcomment %}
                                   {% comment %}class="form-select">{% endcomment %}
                                   {% comment %}<option value="equiDist">equidistant</option>{% endcomment %}
                                   {% comment %}<option value="collpaseDist">collapse</option>{% endcomment %}
                                   {% comment %}<option value="scaleDist">genomic distance</option>{% endcomment %}
                               {% comment %}</select>{% endcomment %}
                               {% comment %}</div>{% endcomment %}

                           {% comment %}</div>{% endcomment %}
                           {% comment %}</div>{% endcomment %}
                            
                           {% comment %}<div class="container mb-3 p-3 border border-dark rounded">{% endcomment %}
                               {% comment %}<label class="form-label text-center">Display</label>{% endcomment %}
                           {% comment %}<div class="form-selectgroup form-selectgroup-pills{% endcomment %}
                                {% comment %}justify-content-center container">{% endcomment %}
                               {% comment %}<label class="form-selectgroup-item">{% endcomment %}
                                   {% comment %}<input type="checkbox" name="showTree"{% endcomment %}
                                   {% comment %}id="showTree" class="form-selectgroup-input"{% endcomment %}
                                   {% comment %}checked/>{% endcomment %}
                                   {% comment %}<span class="form-selectgroup-label">Tree</span>{% endcomment %}
                               {% comment %}</label>{% endcomment %}
                               
                               {% comment %}<label class="form-selectgroup-item">{% endcomment %}
                                   {% comment %}<input type="checkbox" name="showName"{% endcomment %}
                                   {% comment %}id="showName" class="form-selectgroup-input"{% endcomment %}
                                   {% comment %}checked/>{% endcomment %}
                                   {% comment %}<span{% endcomment %}
                                       {% comment %}class="form-selectgroup-label">Gene name</span>{% endcomment %}
                               {% comment %}</label>{% endcomment %}

                               {% comment %}<label class="form-selectgroup-item">{% endcomment %}
                                   {% comment %}<input type="checkbox" name="nContigs"{% endcomment %}
                                   {% comment %}id="nContigs" class="form-selectgroup-input"{% endcomment %}
                                   {% comment %}/>{% endcomment %}
                                   {% comment %}<span{% endcomment %}
                                       {% comment %}class="form-selectgroup-label">Number of contigs</span>{% endcomment %}
                               {% comment %}</label>{% endcomment %}

                               {% comment %}<label class="form-selectgroup-item">{% endcomment %}
                                   {% comment %}<input type="checkbox" name="genePos"{% endcomment %}
                                   {% comment %}id="genePos" class="form-selectgroup-input"{% endcomment %}
                                   {% comment %}/>{% endcomment %}
                                   {% comment %}<span class="form-selectgroup-label">Genomic{% endcomment %}
                                   {% comment %}position</span>{% endcomment %}
                               {% comment %}</label>{% endcomment %}


                               {% comment %}<label class="form-selectgroup-item">{% endcomment %}
                                   {% comment %}<input type="checkbox" name="highlightAnchor"{% endcomment %}
                                   {% comment %}id="highlightAnchor" class="form-selectgroup-input"{% endcomment %}
                                   {% comment %}/>{% endcomment %}
                                   {% comment %}<span{% endcomment %}
                                       {% comment %}class="form-selectgroup-label">Highlight{% endcomment %}
                                   {% comment %}anchor</span>{% endcomment %}
                               {% comment %}</label>{% endcomment %}
                           {% comment %}</div>{% endcomment %}
                               
                           {% comment %}</div>{% endcomment %}

