{% extends 'geco/base.html' %}
{% load static %}
{% block content %}

{% include 'geco/filter_cards.html'%}

<div v-if='totalItems > 0'
    class='text-center mb-3'>
    Showing results from [[ (currentPage - 1) * perPage ]] 
    to [[ Math.min(currentPage * perPage, totalItems) ]]. Total hits: [[ totalItems ]].
</div>
<div v-if="nPages > 1">
    {% include 'geco/pagination.html' 
        with currentPage=currentPage nPages=nPages field="" %}
</div>

<div v-for="(tdata, tid, index) in show_items">               
    {% include 'geco/card.html' %}
</div>
<div v-if="nPages > 1 && show_items.length > 3">
    {% include 'geco/pagination.html' %}
</div>
{% endblock %}
{% block scripts %}
    {% comment %}<script src = "https://unpkg.com/@popperjs/core@2"></script>{% endcomment %}
    <script src="{% static "geco/assets/tabler/libs/nouislider/distribute/nouislider.min.js" %}"></script>
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/html2canvas.min.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/FileSaver.min.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/colors269.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/palette.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/helpers.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/Sorter.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/selectBox.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/slider.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/customBar.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/domains.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/popper.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/newick.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/tree.js" %}"></script>{% endcomment %}
    {% comment %}<script src="{% static "geco/GeCoVizjs/src/gecoviz.js" %}"></script>{% endcomment %}
    {% comment %}{% compress js %}{% endcomment %}
    <script src="{% static "geco/js/SeqSunburst.js" %}"></script>
    <script src="{% static "geco/js/gecoviz.js" %}"></script>
    <script src="{% static "geco/js/FileSaver.js" %}"></script>
    <script src="{% static "geco/js/gmgc.js" %}"></script>
    {% comment %}{% endcompress %}{% endcomment %}
    <script charset="utf-8">
      $(document).ready(function () {
          $(".form-help").popover();
          let searchType = document.getElementById('search-type');
          let choices = new Choices(searchType, {
            classNames: {
                containerInner: searchType.className,
                input: 'form-control',
                inputCloned: 'form-control-sm',
                listDropdown: 'dropdown-menu',
                itemChoice: 'dropdown-item',
                activeState: 'show',
                selectedState: 'active',
                placeholder: 'choices__placeholder',
            },
            shouldSort: false,
            searchEnabled: false,
            choices : [
                { value: 'fam', label: 'Family name', selected: true },
                { value: 'taxa', id: 'taxa', label: 'Taxon name' },
                { value: 'function', label: 'Functional context' },
                { value: 'biome', label: 'Biome name' },
            ]
          });
          searchType = $('#search-type')
          searchType.change(async function(){
            await $('.search-filters').collapse('hide');
            let val = searchType.val();
            if (val == 'taxa') {
                await $('#taxa-filters').collapse('show');
            } else if (val == 'function') {
                await $('#function-filters').collapse('show');
            }
          });
          ["specificity", "coverage", "conservation"].forEach(id => {
                let slider = document.getElementById(id);
                noUiSlider.create(slider,
                    {
                        start: .9,
                        connect: [true, false],
                        step: .01,
                        range: {
                            min: 0,
                            max: 1
                            }
                    });
                let sliderLabel = d3.select(`.${id} label`);
                slider = slider.noUiSlider;
                slider.on('update', () => {
                    let name =  id.trim().replace(/^\w/, c => c.toUpperCase());
                    sliderLabel.html(name+': '+slider.get());
                })
          })
      });
    </script>
{% endblock %}
