{% extends 'geco/base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/geco.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/colors.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/scrollbar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/forms.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/params.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/popper.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/geco/css/select_box.css' %}"/>


{% include 'geco/searchbar.html'%}

<div v-if="show_items != {}" >
<div v-for="(tdata, tid, index) in show_items">               
    {% include 'geco/card.html' %}
</div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{% static "geco/js/geco.js" %}"></script>
    <script src="{% static "geco/js/seqFace.js" %}"></script>
    <script src="{% static "geco/js/gmgc.js" %}"></script>
    <script charset="utf-8">
      $(document).ready(function () {
          $(".form-help").popover();
          $("#search-fams-type").selectize();
          $('#search-filters').selectize({
            maxItems: 20,
            plugins: ['remove_button'],
            });
      });
    </script>
{% endblock %}
