<div class='row justify-content-center'>
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Taxonomy
    </div>
    <div class="card-body">
        <div class="col-md-6">
            <input type="text" 
                   value="" 
                   name="domain-input" 
                   id="domain-input"
                   class="form-control"
                   placeholder="Domain"
                   />
            <input type="text" 
                   value="" 
                   name="phylum-input" 
                   id="phylum-input"
                   class="form-control"
                   placeholder="Phylum"
                   />
            <input type="text" 
                   value="" 
                   name="class-input" 
                   id="class-input"
                   class="form-control"
                   placeholder="Class"
                   />
            <input type="text" 
                   value="" 
                   name="order-input" 
                   id="order-input"
                   class="form-control"
                   placeholder="Order"
                   />
            <input type="text" 
                   value="" 
                   name="family-input" 
                   id="family-input"
                   class="form-control"
                   placeholder="Family"
                   />
            <input type="text" 
                   value="" 
                   name="genus-input" 
                   id="genus-input"
                   class="form-control"
                   placeholder="Genus"
                   />
        </div>
        <div class="col-md-6">
        <div class='specificity'>
            <label class="form-label"
                style='font-size:.8em'>
                Specificity
            </label>
            <div class='form-range' id='specificity'>
            </div>
        </div>
        <div class='coverage'>
            <label class="form-label"
                style='font-size:.8em'>
                Coverage
            </label>
            <div class='form-range' id='coverage'>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Function
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Taxonomy
    </div>
    <div class="card-body">

    </div>
</div>
</div>
