<div class='row justify-content-center'>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Taxonomy
    </div>
    <div class="card-body">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        <div>
            <label class="form-label"
                style='font-size:.8em'>
                Specificity
            </label>
            <div class='form-range' id='specificity'>
            </div>
        </div>
        <div>
            <label class="form-label"
                style='font-size:.8em'>
                Coverage
            </label>
            <div class='form-range' id='coverage'>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Function
    </div>
    <div class="card-body">

    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Taxonomy
    </div>
    <div class="card-body">

    </div>
</div>
</div>
