<div class='collapse filter-cards row justify-content-center'
    id="filter-cards">
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Taxonomy
    </div>
    <div class="card-body row">
        <div class="col-md-8">
            <input type="text" 
                   value="" 
                   name="domain-input" 
                   id="domain-input"
                   class="form-control m-1"
                   placeholder="Domain"
                   />
            <input type="text" 
                   value="" 
                   name="phylum-input" 
                   id="phylum-input"
                   class="form-control m-1"
                   placeholder="Phylum"
                   />
            <input type="text" 
                   value="" 
                   name="class-input" 
                   id="class-input"
                   class="form-control m-1"
                   placeholder="Class"
                   />
            <input type="text" 
                   value="" 
                   name="order-input" 
                   id="order-input"
                   class="form-control m-1"
                   placeholder="Order"
                   />
            <input type="text" 
                   value="" 
                   name="family-input" 
                   id="family-input"
                   class="form-control m-1"
                   placeholder="Family"
                   />
            <input type="text" 
                   value="" 
                   name="genus-input" 
                   id="genus-input"
                   class="form-control m-1"
                   placeholder="Genus"
                   />
        </div>
        <div class="col-md-4">
        <div class='specificity'>
            <label class="form-label"
                style='font-size:.8em'>
                Specificity
            </label>
            <div class='form-range' id='specificity'>
            </div>
        </div>
        <div class='coverage'>
            <label class="form-label"
                style='font-size:.8em'>
                Coverage
            </label>
            <div class='form-range' id='coverage'>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Function
    </div>
    <div class="card-body">
        <div class="my-3">
            <label class='form-label mx-2'>
                KEGG pathways
            </label>
            <input type="text" 
                   value="" 
                   name="kpath-input" 
                   id="kpath-input"
                   class="form-control m-1"
                   placeholder=""
                   />
        </div>
        <div class='my-3'>
            <label class='form-label mx-2'>
                CARD
            </label>
            <input type="text" 
                   value="" 
                   name="card-input" 
                   id="card-input"
                   class="form-control m-1"
                   placeholder=""
                   />
        </div>
    </div>
</div>
<div class="card col-md-3 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Ecology
    </div>
    <div class="card-body">

    </div>
</div>
</div>
