          <div class="geco-loader"></div>

        <form
          action=""
          method="get"
          enctype="multipart/form-data"
          accept-charset="utf-8"
          target="_self"
          id="params"
        >
        <div id="submit-params">
        <div id="input-params">

          <div class="input-panel">
              <div class="panel-header">
                  Scale
              </div>

          <div class="nUpstream">
            <div class="custom-selectbox" style="width:160px;">
            <select class="input" name="nUpstream" id="nUpstream"></select>
            </div>
          </div>
          <div class="nDownstream">
            <div class="custom-selectbox" style="width:180px;">
            <select class="input" name="nDownstream" id="nDownstream"></select>
            </div>
          </div>
          <div class="distScale">
            <div class="custom-selectbox" style="width:160px;">
            <select class="input" name="distScale" id="distScale">
                <option value="equiDist" 
                    selected disabled
                    >Gene distance</option>
                <option value="equiDist">equidistant</option>
                <option value="collapseDist">collapse</option>
                <option value="scaleDist">genomic distance</option>
            </select>
            </div>
          </div>
          <div>
          <div class="checkbox" style="width:100px">
              Gene by length
          </div>
          <label class="check-container">
              <input type="checkbox"  id="scaleSize">
              <span class="checkmark" id="scaleSize"></span>
          </label>
          </div>
          <div style="margin-top:10px;">
          <input type="text" 
                 value="" 
                 name="customScale" 
                 id="customScale"
                 placeholder="Custom min gene length (px)"
                 pattern="[0-9]*"
                 style="width:220px"/>
          </div>

          </div>
          <div class="input-panel">
              <div class="panel-header">
                  Display
              </div>

          <div>
          <div class="checkbox" style="width:30px">
              Tree
          </div>
          <label class="check-container">
              <input type="checkbox"  id="showTree" checked>
              <span class="checkmark" id="showTree"></span>
          </label>
          </div>
          <div>
          <div class="checkbox" style="width:75px">
              Gene name
          </div>
          <label class="check-container">
              <input type="checkbox"  id="geneName" checked>
              <span class="checkmark" id="geneName"></span>
          </label>
          </div>
          <div>
          <div class="checkbox" style="width:120px;">
              Number of contigs
          </div>
          <label class="check-container">
              <input type="checkbox"  id="nContig">
              <span class="checkmark" id="nContig"></span>
          </label>
          </div>
          <div>
          <div class="checkbox" style="width:115px;">
              Genomic position
          </div>
          <label class="check-container">
              <input type="checkbox"  id="showPos">
              <span class="checkmark" id="showPos"></span>
          </label>
          </div>
          <div>
          <div class="checkbox" style="width:110px;">
              Highlight anchor
          </div>
          <label class="check-container">
              <input type="checkbox"  id="highlightAnchor">
              <span class="checkmark" id="highlightAnchor"></span>
          </label>
          </div>


              
          </div>
          <div class="input-panel">
              <div class="panel-header">
                  Color
              </div>

          <div>
          <div class="tax-rank" style="display:inline-block;">
          <div class="custom-selectbox" style="width:200px;">
              <select class="input" 
                  name="tax-rank" 
                  id="tax-rank"
                  disabled></select>
          </div>
          </div>
          <label class="check-container">
              <input type="checkbox"  id="tax-rank">
              <span class="checkmark" id="tax-rank"></span>
          </label>
          </div>
          <div class="notation">
            <div class="custom-selectbox" style="width:180px;">
            <select class="input" name="notation" id="notation"></select>
            </div>
            <!--<div class="required" id="notation_alert"></div>-->
          </div>
          <div class="egg-level">
          <div class="custom-selectbox" style="width:200px;">
              <select class="input" name="egg-level" id="egg-level"
                  disabled></select>
          </div>
          </div>
              
          </div>

        </div>
          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
        </form>
      <div id="download-btns">
          <button class='download-btn btn btn-secondary btn-sm' 
                  id="download-newick">Download Newick</button>
          <button class='download-btn btn btn-secondary btn-sm' 
                  id="download-json">Download JSON</button>
          <button class='download-btn btn btn-secondary btn-sm' 
                  id="download-tree">Download Tree</button>
          <button class='download-btn btn btn-secondary btn-sm' 
                  id="download-context">Download graph</button>
      </div>
      <div id="graph">
        <div id="phylogram"></div>
        <div id="synteny"></div>
        <div class="legend">
            <div id="legend" class="sticky"></div>
        </div>
      </div>
