{% extends 'geco/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'geco/css/input_data.css' %}"
type="text/css" charset="utf-8">
<script src="https://d3js.org/d3.v6.min.js"></script>

<div class='options'>
    
<form action="" 
      enctype="multipart/form-data"
      method="post" 
      name="input_choice" 
      accept-charset="utf-8">{% csrf_token %}

    {% block options %}
    {% endblock %}

    <button type="submit" id="go" >Go!</button>
</form>
</div>
<script charset="utf-8">
    window.onload = () => {
    try {
         input = document.querySelector("input#input_file");
         input.addEventListener('change', (e) => {
                e.preventDefault();
                    // Display input file upon selection
                    d3.select("div.inputfilename")
                      .style("opacity", 0);
                    d3.select("div.inputfilename")
                      .html(input.files[0].name)
                      .style("opacity", 1);
                 });
    } catch {}
    };
</script>
{% endblock %}
