{% extends 'geco/input.html' %}

{% block options %}
    <div class="option" style="position:relative;height:100px;">
        <div class="input_choice">
        <input type="radio" value="file" name="input_choice" id="input_choice"
               checked/>
        <label for="input_choice" class="input_choice">Upload file</label>
        </div>
        <div class='input_file'>
        <label for='input_file' class='input_file'>Browse</label>
        {{ file_form.as_p }}
        <div class='inputfilename'>No file selected.</div>
        </div>
    </div>
{% endblock %}
