{% load static %}
{% comment %}<nav class="navbar navbar-light bg-primary">{% endcomment %}
  {% comment %}<a class="navbar-brand p-4 inline" href="#">{% endcomment %}
      {% comment %}<img src="{% static "geco/img/logo_gmgc.png" %}" style="height:80px;"/>{% endcomment %}
      {% comment %}<h1 class="font-weight-bold text-light my-2 ml-4">novel families</h1>{% endcomment %}
  {% comment %}</a>{% endcomment %}
{% comment %}</nav>{% endcomment %}

  <header class="navbar navbar-expand-md navbar-dark d-print-none mb-3">
      <div class="container-sm">
{% comment %}          <button class="navbar-toggler"{% endcomment %}
                  {% comment %}type="button"{% endcomment %}
                  {% comment %}data-toggle="collapse"{% endcomment %}
                  {% comment %}href="#navbar-menu"{% endcomment %}
                  {% comment %}role="button"{% endcomment %}
                  {% comment %}aria-expanded="false"{% endcomment %}
                  {% comment %}aria-controls="navbar-menu"{% endcomment %}
                  {% comment %}>{% endcomment %}
              {% comment %}<span class="navbar-toggler-icon"></span>{% endcomment %}
          {% comment %}</button>{% endcomment %}
          <h1 class="navbar-brand navbar-brand-autodark
              d-none-navbar-horizontal my-auto">
              <a href="/" target="_self">
                  {% comment %}<img src="{% static 'gecoviz/img/gecoviz.png' %}"{% endcomment %}
                  {% comment %}class="navbar-brand-image" {% endcomment %}
                  {% comment %}style="height:100px; padding-top:-3px;"/>{% endcomment %}
                  Novel Microbial Gene Families
              </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last pt-2">
                <div class="input-icon">
                    <input type="text" 
                           class="form-control text-left"
                           id="search-fams"
                           @keypress.enter.prevent="searchFams()"
                           placeholder="Search family"/>
                    <span class="input-icon-addon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                </div>
          </div>
          {% comment %}<div class="navbar-nav flex-row order-md-last pt-2">{% endcomment %}
              {% comment %}<div class="pt-3">{% endcomment %}
                  {% comment %}gecoviz{% endcomment %}
              {% comment %}</div>{% endcomment %}
{% comment %}            <form action="" method="POST" accept-charset="utf-8"{% endcomment %}
                {% comment %}name="nightmode">{% csrf_token %}{% endcomment %}
                {% comment %}<input type="radio" {% endcomment %}
                       {% comment %}value="night" {% endcomment %}
                       {% comment %}name="nightmode" {% endcomment %}
                       {% comment %}checked {% endcomment %}
                       {% comment %}style="display:none;"/>{% endcomment %}
                   {% comment %}<button type="submit"{% endcomment %}
                       {% comment %}id="nightmode"{% endcomment %}
                       {% comment %}class="btn btn-primary rounded-pill p-2 ml-1">{% endcomment %}
                       {% comment %}<span class="fa fa-adjust" style="font-size:1rem;"></span>{% endcomment %}
                   {% comment %}</button> {% endcomment %}
            {% comment %}</form>{% endcomment %}
          {% comment %}</div>{% endcomment %}

      {% comment %}</div>{% endcomment %}
  {% comment %}</header>{% endcomment %}
  {% comment %}<div class="navbar-expand-md">{% endcomment %}

{% comment %}      <div class="collapse navbar-collapse" id="navbar-menu">{% endcomment %}
          {% comment %}<div class="navbar navbar-dark">{% endcomment %}
              {% comment %}<div class="container-xl">{% endcomment %}
                  {% comment %}<ul class="navbar-nav">{% endcomment %}
                      {% comment %}<li class="nav-item mx-3 py-1">{% endcomment %}
                          {% comment %}<a class="mx-2" href="/custom/input/" target="_self">{% endcomment %}
                              {% comment %}<span class="nav-link-icon d-inline-block">{% endcomment %}
                                {% comment %}<i class="fa fa-pencil"></i>{% endcomment %}
                              {% comment %}</span>{% endcomment %}
                              {% comment %}<span class="nav-link-title">Custom</span>{% endcomment %}
                          {% comment %}</a>{% endcomment %}
                      {% comment %}</li>{% endcomment %}
                      {% comment %}<li class="nav-item mx-3 py-1">{% endcomment %}
                          {% comment %}<a class="mx-2"{% endcomment %}
                              {% comment %}href="/progenomes/input/" target="_self">{% endcomment %}
                              {% comment %}<span class="nav-link-icon d-inline-block">{% endcomment %}
                                  {% comment %}<img src="{% static 'progenomes/img/progenomes_icon.png' %}"{% endcomment %}
                                       {% comment %}style="width: 80%; margin-top: -3px;"/>{% endcomment %}
                              {% comment %}</span>{% endcomment %}
                              {% comment %}<span class="nav-link-title">proGenomes</span>{% endcomment %}
                          {% comment %}</a>{% endcomment %}
                      {% comment %}</li>{% endcomment %}
                      {% comment %}<li class="nav-item mx-3 py-1">{% endcomment %}
                          {% comment %}<a class="mx-2" href="/gmgfam/input/" target="_self">{% endcomment %}
                              {% comment %}<span class="nav-link-icon d-inline-block">{% endcomment %}
                                {% comment %}<i class="fa fa-database"></i>{% endcomment %}
                              {% comment %}</span>{% endcomment %}
                              {% comment %}<span class="nav-link-title">GMGFam</span>{% endcomment %}
                          {% comment %}</a>{% endcomment %}
                      {% comment %}</li>{% endcomment %}
                      {% comment %}<li class="nav-item mx-3 py-1">{% endcomment %}
                          {% comment %}<a class="mx-2" href="/documentation/" target="_self">{% endcomment %}
                              {% comment %}<span class="nav-link-icon d-inline-block">{% endcomment %}
                                {% comment %}<i class="fa fa-book"></i>{% endcomment %}
                              {% comment %}</span>{% endcomment %}
                              {% comment %}<span class="nav-link-title">Documentation</span>{% endcomment %}
                          {% comment %}</a>{% endcomment %}
                      {% comment %}</li>{% endcomment %}
                  {% comment %}</ul>{% endcomment %}
              {% comment %}</div>{% endcomment %}
          {% comment %}</div>{% endcomment %}
      {% comment %}</div>{% endcomment %}

  {% comment %}</div>{% endcomment %}
  </header>

