<div class="container">
<div class="row g-2">
    <div class="col">
        <label class="form-label" style="opacity:0;">.</label>
        <input type="text" class="form-control form-control-rounded text-left"
               placeholder="Browse novel family..."/>
    </div>

    <div class="col">
        <label class=form-label>Filter by</label>
        <select name="search-filters" 
                id="search-filters" 
                class="form-select selectized"
                multiple="multiple"
                tabindex="-1" 
                style="display:none;">
            <option value="prokaryotes" selected=selected>Prokaryotes</option>
        </select>
        <div class="selectize-control form-select multi plugin-remove_button
            rounded-pill">
            <div class="selectize-input items not-full has-options has-items
                rounded-pill">
                <div class="item rounded-pill my-0" data-value="Prokaryote">
                    Prokaryote
                </div>
                <input type="select-multiple" 
                       autocomplete="off"
                       tabindex id="select-search-filters"
                       class="border-0 text-left rounded-pill"
                       />
            </div>
            <div class="selectize-dropdown multi form-select
                         plugin-remove_button" 
                 style="display: none; visibility: visible; top: 34px; left: 0px;">
               <div class="selectize-dropdown-content">
                   <div class="option" data-selectable data-value="Eukaryote">
                       Eukaryote
                   </div>
               </div> 
            </div>
            
        </div>
    </div>

    <div class="col-auto align-self-center">
        <span class="form-help" 
              data-toggle="popover"
              data-placement="top"
              data-content="<p>Novel Family identifier.</p>
              <p class='text-muted'>E.g. 095_560_840</p>"
              data-html="true"
              data-original-title
              title
              aria-describedby="popover31378">?</span>
        
    </div>
    
</div>
    
</div>
