<div class="container">
<div class="row g-2">
    <div class="col">
        <label class="form-label" style="opacity:0;">.</label>
        <input type="text" class="form-control text-left"
               placeholder="Browse novel family..."/>
    </div>

    <div class="col">
        <label class=form-label>Filter by</label>
        <select name="search-filters" 
                id="search-filters" 
                class="form-select selectized"
                multiple="multiple"
                tabindex="-1" 
                style="display:none;">
            <option value="prokaryote" selected=selected>Prokaryote</option>
            <option value="eukaryote">Eurkaryote</option>
        </select>
    </div>

    <div class="col-auto align-self-center">
        <label class="form-label" style="opacity:0;">.</label>
        <span class="form-help" 
              data-toggle="popover"
              data-placement="bottom"
              title="Novel family browser help"
              data-content="<p>Enter a novel family identifier
                          <em class='text-muted'>E.g. 095_560_840</em>
                          </p>
                          <p>Filter by different criteria</p>"
              data-html="true"
              data-original-title>?</span>
        
    </div>
    
</div>
    
</div>
