{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="{% static 'geco/img/geco.png' %}">
        <title>GeCo</title>
        {% if request.session.nightmode == True  %}
        <link rel="stylesheet" type="text/css" href="{% static 'geco/css/night_colors.css' %}"/>
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'geco/css/colors.css' %}"/>
        {% endif %}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'geco/css/start.css' %}" type="text/css" charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        </head>
        <body>
            {% include 'geco/navbar.html' %}
            <img width=40%
                 src="{% static 'geco/img/geco.png' %}"/>
        <h1 style="line-height:1.7">
            <div class=title>
            <em class='title geco'>Ge</em><em class='title rest'>nomic</em>
            <em class='title geco'>Co</em><em class='title rest'>ntext<br>visualization</em>
            </div>
            <form action="" method="POST" accept-charset="utf-8" name='start'>{% csrf_token %}
            <div class='startBtn'>
                <button type="submit" class='start'>start</button>
            </div>
            </form>
        </h1>

    <script charset="utf-8">
        window.onload = () => {
            d3.select("img").style("visibility", "visible").style("opacity", 1);
            d3.selectAll("em.title")
                .style("visibility", "visible")
                .style("opacity",1);
            d3.selectAll("div.startBtn")
                .style("visibility", "visible")
                .style("opacity",1);
            d3.select("ul.navbar")
                .style("visibility", "visible")
                .style("opacity",1);
        }
    </script>
    </body>
</html>
