* {
    outline: none !important;
    font-family: 'Roboto Condensed', sans-serif;
}

a.nav-link {
    color: #6574cd;
}

a.nav-link:hover {
    color: #6574cd;
}

a.nav-link.active {
    background-color: #6574cd !important;

}

.form-help:hover, .form-help[aria-describedby] {
    background: #6574cd;
}

.progress-bar {
    background: #6574cd !important;
}

.btn-primary {
    background: #6574cd !important;
    border-color: #6574cd !important;
}

.btn-primary:hover {
    background: #3849ad !important;
    border-color: #3849ad !important;
}
