* {
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: var(--indigo);
}

a:hover {
    color: var(--dark-indigo);
    text-decoration: none;
}

a.nav-link {
    color: var(--indigo);
}

a.nav-link:hover {
    color: var(--indigo);
}

a.nav-link.active {
    background-color: var(--indigo) !important;
}

.form-help:hover, .form-help[aria-describedby] {
    background: var(--indigo);
}

.progress-bar {
    background: var(--indigo);
}

.btn-primary {
    background: var(--indigo);
    border-color: var(--indigo);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: var(--dark-indigo);
    border-color: var(--dark-indigo);
}

.form-check-input:checked {
    background-color: var(--indigo);
}
