* {
    outline: none !important;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: var(--indigo) !important;
}

a:hover {
    color: var(--dark-indigo) !important;
    text-decoration: none;
}

a.nav-link {
    color: var(--indigo);
}

a.nav-link:hover {
    color: var(--indigo);
}

a.nav-link.active {
    color: white !important;
    background-color: var(--indigo) !important;
}

.form-help:hover, .form-help[aria-describedby] {
    background: var(--indigo);
}

.progress-bar {
    background: var(--indigo) !important;
}

.btn-primary {
    background: var(--indigo) !important;
    border-color: var(--indigo) !important;
}

.btn-primary:hover {
    background: var(--dark-indigo) !important;
    border-color: var(--dark-indigo) !important;
}
