{% extends 'nmgfams_app/base.html' %}
{% load static %}
{% block content %}

{% include 'nmgfams_app/filter_cards.html'%}
<div v-if='totalItems == 0' class='h-100'>
    {% include 'nmgfams_app/example_cards.html'%}
</div>

<div v-if='totalItems > 0'
    class='text-center mb-3'>
    Showing results from [[ (currentPage - 1) * perPage + 1 ]] 
    to [[ Math.min(currentPage * perPage, totalItems) ]]. Total hits: [[ totalItems ]].

    <button class="btn btn-primary btn-sm ml-3 bg-indigo-lt"
        @click="showAllFams()"
        style="min-width:80px">
        Open all displayed families
    </button>

    <button class="btn btn-primary btn-sm ml-1 bg-red-lt"
        @click="hideAllFams()"
        style="min-width:80px">
        Close all displayed families
    </button>

</div>
<div v-if="nPages > 1">
    {% include 'nmgfams_app/pagination.html' with currentPage=currentPage nPages=nPages field="f" only %}
</div>

<div v-for="(tdata, tid, index) in show_items">               
    {% include 'nmgfams_app/card.html' %}
</div>
<div v-if="nPages > 1 && Object.keys(show_items).length > 3">
    {% include 'nmgfams_app/pagination.html' %}
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static "nmgfams_app/assets/tabler/libs/nouislider/distribute/nouislider.min.js" %}"></script>
    <script src="{% static "nmgfams_app/js/SeqSunburst.js" %}"></script>
    <script src="{% static "nmgfams_app/js/gecoviz.js" %}"></script>
    <script src="{% static "nmgfams_app/js/FileSaver.js" %}"></script>
    <script src="{% static "nmgfams_app/js/gmgc.js" %}"></script>
{% endblock %}
