<div class='collapse example-cards row justify-content-center
     align-content-center h-100'
    id="example-cards">
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Simple examples
    </div>
    <div class="card-body row">
        <p>
        Explore families by their:
        <ul>
           <li>
            <a @click="showExample('fam')">Family name</a>,
           </li> 
           <li>
            <a @click="showExample('taxa')">taxon name</a>,
           </li>
           <li>
            <a @click="showExample('function')">functional context</a>.
           </li>
        </ul>
        </p>
    </div>
</div>
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Synapomorphic families
    </div>
    <div class="card-body row">
        <p>
        Explore synapomorphic families
        </p>
    </div>
</div>
</div>

