<ul class="nav nav-pills justify-content-end d-flex ml-auto h-100"
    style="border-bottom-color:transparent;">
  <li class="nav-item" 
      style="padding-top:0 !important; padding-bottom:0 !important">
    <a class="nav-link f-bold h-100 mt-1 pt-1" 
       :class="{ 'active': exampleTab === 'synapo' }"
        @click="exampleTab = 'synapo'"
        style="border-bottom-color:transparent;">Synapomorphic families</a>
  </li>
  <li class="nav-item" 
      style="padding-top:0 !important; padding-bottom:0 !important">
    <a class="nav-link f-bold h-100 mt-1 pt-1" 
       :class="{ 'active': exampleTab === 'ko' }"
        @click="exampleTab = 'ko'"
        style="border-bottom-color:transparent;">KEGG functions</a>
  </li>
  <li class="nav-item" 
      style="padding-top:0 !important; padding-bottom:0 !important">
    <a class="nav-link f-bold h-100 mt-1 pt-1" 
       :class="{ 'active': exampleTab === 'card' }"
        @click="exampleTab = 'card'"
       style="border-bottom-color:transparent;">Antibiotic resistance</a>
  </li>
  <li class="nav-item" 
      style="padding-top:0 !important; padding-bottom:0 !important">
    <a class="nav-link f-bold h-100 mt-1 pt-1" 
       :class="{ 'active': exampleTab === 'fitness' }"
        @click="exampleTab = 'fitness'"
       style="border-bottom-color:transparent;">Fitness experiments</a>
  </li>
</ul>



<div class='example-cards 
     justify-content-center
     align-content-center h-100 mt-3 mx-1'
    id="example-cards">


<div class="card no-border no-box-shadow"
   :style="{ 'display': exampleTab === 'synapo' ? 'block' : 'none' }">
    <div class="card-header">
        <h3 class="card-title">
        Synapomorphic families
        </h3>
    </div>
    <div class="card-body card-body-scrollable  pl-1 pr-3"
         style="height: 35vh">
        <div class="row row-cols-xxl-2 row-cols-1 g-2">
        <div v-for="([tax, info]) in this.examples.synapo"
             class='col'>
          <div class="mb-0 h-100"
               style="padding: 0.75rem 1.25rem; margin-bottom: 0;
                      display: flex;
                      align-items: center;
                      border-radius: 4px;
                      border: 1px solid rgba(95, 102, 110, 0.2);">
                <span class="badge mr-auto"
                      :class="taxBadgeColors[info.level]">
                    [[ info.level ]]
                </span>
                [[ tax | trimTaxa ]] 
                <a class="fa fa-link ms-2"
                   @click="searchFams('synapo', tax)"
                   style="color:var(--indigo)">
                </a>
                <span class='ms-auto badge bg-indigo-lt'>
                [[ info.nfam ]] fams
                </span>
          </div>
        </div>
        </div>
    </div>
</div>


<div class="card no-border no-box-shadow"
   :style="{ 'display': exampleTab === 'ko' ? 'block' : 'none' }">
    <div class="card-header">
        <h3 class="card-title">
            Conserved functional context: KEGG Orthologues
        </h3>
    </div>
    <div class="card-body card-body-scrollable  pl-1 pr-3"
         style="height: 35vh">
        <div class="row row-cols-xxl-3 row-cols-xl-2 row-cols-1 g-2">
        <div v-for="([ko, info]) in this.examples.ko"
             class='col'>
          <div class="card mb-0 h-100">
            <div class="card-header">
                <a :href='"https://www.genome.jp/entry/ko:" + ko'
                    target="_blank">[[ ko ]]</a>
                <a class="fa fa-link ms-2"
                   @click="searchFams('ko', ko)"
                   style="color:var(--indigo)">
                </a>
                <span class='ms-auto badge bg-indigo-lt'>
                [[ info.nfam ]] fams
                </span>
            </div>
            <div class="card-body text-muted">
                [[ info.desc ]]
                <span v-for="ec in info.ec"
                      class="badge bg-red-lt mx-1">
                    [[ ec ]]
                </span>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


<div class="card no-border no-box-shadow"
   :style="{ 'display': exampleTab === 'card' ? 'block' : 'none' }">
    <div class="card-header">
        <h3 class="card-title">
            Conserved functional context: antibiotic resistance (CARD)
        </h3>
    </div>
    <div class="card-body card-body-scrollable pl-1 pr-3"
         style="height: 35vh">
        <div class="row row-cols-xxl-3 row-cols-xl-2 row-cols-1 g-2">
        <div v-for="([card, info]) in this.examples.card"
             class='col'>
          <div class="card mb-0 h-100">
            <div class="card-header">

                <a v-if="info.id"
                    :href='"https://card.mcmaster.ca/ontology/" + info.id'
                    target="_blank">[[ card ]]</a>
                <div v-else>
                    [[ card ]]
                </div>

                <a class="fa fa-link ms-2"
                   @click="searchFams('card', card)"
                   style="color:var(--indigo)">
                </a>
                <span class='ms-auto badge bg-indigo-lt'>
                [[ info.nfam ]] fams
                </span>
            </div>
            <div class="card-body text-muted">
                [[ info.desc ]]
                <span v-if="info.accession"
                    class="badge bg-red-lt mx-1">
                    [[ info.accession ]]
                </span>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>


<div class="card no-border no-box-shadow"
   :style="{ 'display': exampleTab === 'fitness' ? 'block' : 'none' }">
    <div class="card-header">
        <h3 class="card-title">
            Hits to fitness experiments
        </h3>
    </div>
    <div class="card-body card-body-scrollable pl-1 pr-3"
         style="height: 35vh">
        <div class="row row-cols-xxl-3 row-cols-xl-2 row-cols-1 g-2">
        <div v-for="([condtype, info]) in this.examples.fitness"
             class='col'>
          <div class="card mb-0 h-100">
            <div class="card-header">
                <div>
                    [[ condtype ]]
                </div>

                <a class="fa fa-link ms-2"
                   @click="searchFams('fitness', condtype)"
                   style="color:var(--indigo)">
                </a>
                <span class='ms-auto badge bg-indigo-lt'>
                [[ info.nfam ]] fams
                </span>
            </div>
            <div class="card-body text-muted">
                [[ info.desc ]]
            </div>
          </div>
        </div>
        </div>
    </div>
</div>



</div>
