<div class='collapse search-filters row justify-content-center'
    id="taxa-filters"
    :class="{ 'show': searchType === 'taxa' }">
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Adjustable parameters
    </div>
    <div class="card-body row">
        <div class='specificity'>
            <label class="form-label"
                style='font-size:.8em'>
                Specificity
            </label>
            <div class='form-range' id='specificity'>
            </div>
        </div>
        <div class='coverage'>
            <label class="form-label"
                style='font-size:.8em'>
                Coverage
            </label>
            <div class='form-range' id='coverage'>
            </div>
        </div>
    </div>
</div>
</div>

<div class='collapse search-filters row justify-content-center'
    id="function-filters"
    :class='{ "show": ["og", "kos", "kpath", "CARD", "pname"].includes(searchType) }'>
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Adjustable parameters
    </div>
    <div class="card-body">
        <div class='conservation'>
            <label class="form-label"
                style='font-size:.8em'>
                Conservation
            </label>
            <div class='form-range' id='conservation'>
            </div>
        </div>
        <div class='mindist'>
            <label class="form-label"
                style='font-size:.8em'>
                Min relative distance
            </label>
            <div class='form-range' id='mindist'>
            </div>
        </div>
    </div>
</div>
</div>
