<div class='collapse search-filters row justify-content-center'
    id="taxa-filters">
<div class="card col-md-4 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Adjustable parameters
    </div>
    <div class="card-body row">
        <div class='specificity'>
            <label class="form-label"
                style='font-size:.8em'>
                Specificity
            </label>
            <div class='form-range' id='specificity'>
            </div>
        </div>
        <div class='coverage'>
            <label class="form-label"
                style='font-size:.8em'>
                Coverage
            </label>
            <div class='form-range' id='coverage'>
            </div>
        </div>
    </div>
</div>
</div>

<div class='collapse search-filters row justify-content-center'
    id="function-filters">
<div class="card col-md-5 col-sm-11 mx-3 p-0">
    <div class="card-header">
        Adjustable parameters
    </div>
    <div class="card-body row">
        <div class='term-type col-md-7 mr-2 justify-content-center'
            style='display:flex;flex-wrap:wrap;'>
            <label class="form-selectgroup-item m-1">
                <input type="radio"
                       name="term-type" 
                       value="og" 
                       class="form-selectgroup-input" 
                       checked="">
                <span class="form-selectgroup-label">
                    Orthologous group
                </span>
            </label>
            <label class="form-selectgroup-item m-1">
                <input type="radio"
                       name="term-type" 
                       value="kos" 
                       class="form-selectgroup-input">
                <span class="form-selectgroup-label">
                    KEGG Orthologue
                </span>
            </label>
            <label class="form-selectgroup-item m-1">
                <input type="radio"
                       name="term-type" 
                       value="kpath" 
                       class="form-selectgroup-input">
                <span class="form-selectgroup-label">
                    KEGG Pathway
                </span>
            </label>
            <label class="form-selectgroup-item m-1">
                <input type="radio"
                       name="term-type" 
                       value="CARD" 
                       class="form-selectgroup-input">
                <span class="form-selectgroup-label">
                    CARD
                </span>
            </label>
            <label class="form-selectgroup-item m-1">
                <input type="radio"
                       name="term-type" 
                       value="pname" 
                       class="form-selectgroup-input">
                <span class="form-selectgroup-label">
                    Gene name
                </span>
            </label>
        </div>
        <div class="col-md-4">
            <div class='conservation'>
                <label class="form-label"
                    style='font-size:.8em'>
                    Conservation
                </label>
                <div class='form-range' id='conservation'>
                </div>
            </div>
            <div class='mindist'>
                <label class="form-label"
                    style='font-size:.8em'>
                    Min relative distance
                </label>
                <div class='form-range' id='mindist'>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
