{% load static %}
  <header class="navbar navbar-expand-md navbar-dark d-print-none mb-3 p-2"
      style="z-index:100">
      <div class="container-sm pl-4" style='min-width:100%'>
          <h1 class="navbar-brand navbar-brand-autodark
              d-none-navbar-horizontal my-auto">
              <a href="/" target="_self">
                  Novel Microbial Gene Families
              </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last pt-2"
              style="width: 65%">
                <div>
                    <select name="search-type" id="search-type"
                        class="form-select form-control">
                    </select>
                </div>
                <div class="input-icon w-100 mx-2" style='min-width:250px'>
                    <input type="text"
                           class="form-control text-left"
                           id="search-fams"
                           @keypress.enter.prevent="searchFams()"
                           placeholder="Search family"/>
                    <span class="input-icon-addon search-icon">
                        <i class="fa fa-search"
                           aria-hidden="true"
                           @click="searchFams()">
                        </i>
                        <i class="mx-3 fa fa-sliders" 
                           aria-hidden="true"
                           @click="toggleSearchFilters()">
                        </i>
                    </span>
                </div>
                <button class="btn btn-primary btn-sm mx-1 my-auto"
                    @click="showAllFams()"
                    style="min-width:80px">
                    Open all
                </button>
          </div>
  </header>

