<div class="dropdown">
    <button class="btn-clean m-1 mr-0 dropdown-toggle no-after"
            data-toggle="dropdown" role="button">
        [[ searchTypes[searchType] ]] <i class="fas fa-angle-down ml-1"></i>
    </button>
    <ul class="dropdown-menu suggestion-menu" role="menu"
        style="overflow:visible">
        <li class="dropdown-item"
            @click="searchType == 'fam'">
               [[ searchTypes['fam'] ]]
        </li>
        <li class="dropdown-item"
            @click="searchType == 'taxa'">
               [[ searchTypes['taxa'] ]]
        </li>
        <li class="dropdown-item dropdown-submenu dropend">
            <a href="#"
               class="dropdown-toggle no-after" 
               style="color:inherit"
               data-toggle="dropdown" 
               role="button">Functional context
               <i class="fas fa-angle-right ml-2"></i></a>
            <ul class="dropdown-menu suggestion-menu" role="menu"
                style="margin-top:-2rem;">
                <li class="dropdown-item"
                    @click="searchType = 'og'">[[ searchTypes['og'] ]]
                </li>
                <li class="dropdown-item"
                    @click="searchType = 'kos'">[[ searchTypes['kos'] ]]
                </li>
                <li class="dropdown-item"
                    @click="searchType = 'kpath'">[[ searchTypes['kpath'] ]]
                </li>
                <li class="dropdown-item"
                    @click="searchType = 'CARD'">[[ searchTypes['CARD'] ]]
                </li>
                <li class="dropdown-item"
                    @click="searchType = 'pname'">[[ searchTypes['pname'] ]]
                </li>
            </ul>

        </li>
    </ul>
</div>
