<div class="modal modal-blur fade" 
      id="spinner" 
      tabindex="-1" 
      style="display: none;" 
      aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center" 
        role="document">
        <div class="modal-content spinner-border" 
             style=" background: transparent;
                     width: 100px;
                     height: 100px;
                     border-width: 5px;
                     color: var(--indigo);">
        </div>
    </div>
</div>
